#sidebar {
    dock: left;
    width: 40;
    height: 100%;
}

#admin-qr {
        height: auto;
        align: center middle;
    }

AdminUrlModal {
    align: center middle;
    background: rgba(0, 0, 0, 0.8);
}

#modal-container {
    width: 50%;
    height: 80%;
    background: $panel;
    border: thick $primary-lighten-2;
    align: center middle;
}

#qr-link-container {
    height: auto;
    align: center middle;
}

#admin-link {
    padding-left: 8;
    align: center middle;
}






